<div class="panel panel-default panel-rounded">
	<div class="panel-heading">
		<span class="panel-title">{{ title }}</span>
	</div>
	<div class="panel-body">
		{% if data and (data|length > 0) %}
		<table class="table table-condensed">
			<thead>
				<tr>
				{% for column in data[0].keys() %}
					<th>{{ column|title }}</th>
				{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for row in data %}
					<tr>
						{% for column in data[0].keys() %}
							<td>{{ row.get(column) }}</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<div class="text-muted">
			<h5 style="text-align:center">No data to display.</h5>
		</div>
		{% endif %}
	</div>
</div>
